body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

p{
	padding: 0;
	margin: 0;
}

.header-wrapper{
	width: 100%;
	color: #fff;
}
.section-logo-nav-basket{
	background-color: #4F4C52;
}
.section-logo{
	margin-top: 30px;
	margin-bottom: 38px;
}
.nav-menu__list{
	list-style-type: none;
	padding-left: 0;
	text-align: right;
}
.nav-menu__item{
	display: inline-block;
	padding-top: 15px;
	padding-left: 11px;
}
.nav-menu__item a{
	font-family: "RalewayRegular", verdana, sans-serif;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
}

.font_icon{
	font-family: "svgfont_1regular";
	display: inline-block;
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.font_icon.basket__bag::before{
	content: 'c';
	font-size: 20px;
}
.basket{
	padding-top: 26px;
}
.basket__my-order{
	display: inline-block;
	text-transform: uppercase;
	position: absolute;
	top: 31px;
	left: 38px;
}
.basket__order{
	display: inline-block;
	background-color: #fff;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 31px;
	left: 155px;
	border-radius: 50%;
}
.basket__order-count{
	color: #4f4d53;
	font-family: 'KelsonSansRegularRU';
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: -2px;
	left: 8px;
}
.slider-sale-work{
	background-color: #403e44;
	padding-top: 65px;
	-webkit-box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.32);
	box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.32);
	z-index: 1000;
}
.slider{
	background-color: #fff;
	min-height: 327px;
	text-transform: uppercase;
	font-size: 52px;
	color: #555;
	line-height: 65px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 0px 26px 8px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 0px 26px 8px rgba(0, 0, 0, 0.1);
}

.slider__strings{
	position: absolute;
	margin-top: 31px;
	margin-left: 35px;
	letter-spacing: 0.2px;
    word-spacing: 5.2px;
}
.slider__fisr-string,
.slider__second-string{
	font-family: 'KelsonSansLightRU';
	
}
.slider__second-string_bold{
	font-family: 'KelsonSansRegularRU';
}
.slider__btn {
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 0px 26px 8px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 0px 26px 8px rgba(0, 0, 0, 0.1);
    font-family: "RalewayRegular";
    font-size: 16px;
    left: 22px;
    letter-spacing: 0.3px;
    position: absolute;
    top: 215px;
}
.slider__btn a{
	display: block;
	padding: 12px 10px;
	line-height: 17px;
	color: #4b4b4b;
	text-decoration: none;
}
.slider__discount {
    background-color: #ff4f37;
    bottom: 57px;
    color: #fff;
    font-family: "KelsonSansLightRU";
    left: 214px;
    padding: 11px 50px 11px 16px;
    position: absolute;
}
.slider__bag-img {
    bottom: 2px;
    position: absolute;
    right: -9px;
    width: 261px !important;
}
.carousel{
	-webkit-box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 0px 26px 8px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 0px 26px 8px rgba(0, 0, 0, 0.1);
}
.slider__dot-wrap{
	display: block;
	position: absolute;
	bottom: 24px;
	left: 23px;
}
.slider__dot{
	/*display: inline-block;*/
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #515151;
	padding-left: 0px;
	margin: 0;
}
.owl-dots{
	position: absolute;
}
.owl-dot {
    display: inline-block;
    left: 20px;
    position: absolute;
    top: -37px;
}
.owl-theme .owl-dots .owl-dot{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ededed;
	margin: 2px;
}
.owl-theme .owl-dots .owl-dot.active{
	background-color: #515151;
	width: 14px;
	height: 14px;
	margin: 0;
	border-radius: 50%;
}
.owl-dot:nth-child(2){
	left: 36px;
}
.owl-dot:nth-child(3){
	left: 52px;
}
.owl-dot:nth-child(4){
	left: 68px;
}
.owl-dot:nth-child(5){
	left: 84px;
}
.owl-dot:nth-child(6){
	left: 100px;
}
.owl-dot:nth-child(7){
	left: 100px;
}
.owl-dot:nth-child(8){
	left: 100px;
}
.owl-dot:nth-child(9){
	left: 100px;
}
.owl-dot:nth-child(10){
	left: 100px;
}
.owl-dot:nth-child(11){
	left: 100px;
}
.owl-dot:nth-child(12){
	left: 100px;
}
.sale__fist-string,
.sale__second-string{
	font-family: "KelsonSansLightRU";
	text-transform: uppercase;
	font-size: 42px;
	text-align: center;
}
.sale__fist-string {
    line-height: 48px;
    /*padding-left: 35px;*/
}
.sale__second-string {
    line-height: 52px;
    /*padding-left: 29px;*/
}
.sale__discount {
    background-color: #ff4f37;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.32);
	-moz-box-shadow:    0px 0px 9px 3px rgba(0, 0, 0, 0.32);
	box-shadow:         0px 0px 9px 3px rgba(0, 0, 0, 0.32);
    font-family: "RalewayRegular";
    font-size: 31px;
    margin-top: 8px;
    padding: 12px 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
}
.sale__discount span{
	font-family: "KelsonSansLightRU";
}
.sale__propos{
	text-align: center;
	font-family: "RalewayMedium";
	font-size: 20px;
	margin: 23px;
}
.sale-do__day,
.sale-do__hour,
.sale-do__minut{
	display: inline-block;
	border: #747277 solid 2px;
	border-radius: 10px;
	text-align: center;
	margin-left: 7px;
	margin-right: 7px;
	width: 87px;
}
.sale-do_ff-ProximanovaLight{
	font-family: "ProximanovaLight";
	font-size: 46px;
	line-height: 33px;
	margin-top: 7px;
}
.sale-do_ff-ralewaymedium{
	font-family: "RalewayMedium";
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 3px;
}
.sale-do__day{
	margin-left: 0;
}
.sale-do__minut{
	margin-right: 0;
}
.work-pics{
	font-family: "RalewayMedium";
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 68px;
}
.work-text{
	font-family: "RalewayRegular";
	font-size: 16px;
	text-align: center;
	margin-top: 21px;
}
.font_icon.basket__sertificat::before{
	content: 'a';
	font-size: 55px;
}
.font_icon.basket__surprise::before{
	content: 'b';
	font-size: 55px;
}
.lineheight{
	width: 100%;
	height: 22px;
	
}
