body{
	overflow-x: hidden !important;
}
.wrapper{
	overflow-x: hidden !important;
	width: 100%;
}
section,
header{
	position: relative;
}
section{
	min-height: 620px;
}
ul,li{
	padding: 0;
	margin: 0;
}
.section-head{
	min-height: 620px;
	background-color: ##FFD8A0;
}
.section-head:before{
	content: '';
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .3;
	z-index: 1;
}
.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader_inner {
	background-image: url("img/load.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 68px;
	width: 68px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}
.head__social-wrapper{
	position: relative;
	z-index: 1;
	text-align: center;
}
.social-wrapper__social-item{
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 20px 0;
}
.social-wrapper__social-item i{
	color: #fff;
	font-size: 25px;
	padding-top: 12px;
}
.head-margin{
	height: 70px;
	width: 100%;
	position: relative;
	z-index: 1;
}
.head-logo-menu-wrapper_white-background{
	background-color: #fff;
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	left: 0;
	height: 70px;
}
.head-logo-menu{
	position: relative;
	z-index:100;
	background-color: #fff;
	height: 70px;
}
.head__logo{
	background-color: #1abb9c;
	color: #fff;
	display: inline-block;
	font-family: "LatoBlack",Arial,sans-serif;
	font-size: 35px;
	font-weight: 900;
	line-height: 70px;
	text-align: center;
	text-transform: uppercase;
}
.head__logo a{
	text-decoration: none;
	color: #fff;
}
.head__logo_padding{
	padding-left: 0;
}
.head__menu{
	text-align: right;
	/*float: right;*/
	/*display: inline-block;*/
}
.head__menu-ul{
	list-style-type: none;
	padding: 0;
	font-family: "LatoBlack",Arial,sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 20px;
	font-weight: 900;
}
.head__menu-li{
	display: inline-block;
	margin: 25px 0;
}
.head__menu-li a{
	padding: 25px;
	text-decoration: none;
	color: #c5c5c5;
	outline: none;
}
.head__menu-li.activ a,
.head__menu-li:hover a{
	border-top: 3px solid #1abb9c;
	color: #1abb9c;
}
.head__fio{
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-family: "LatoBlack",Arial,sans-serif;
	font-size: 45px;
	font-weight: 900;
	margin: 150px auto 0;
	padding: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 630px;
	z-index: 1;
}
.head__developer{
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-family: "LatoLight",Arial,sans-serif;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 7px;
	margin: 20px auto 0;
	padding: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 580px;
	z-index: 1;
}
.fixed {
	position:fixed;
	top:0;
	left:0;
	width: 1170px;
	margin-left: calc((100% - 1170px) / 2);
	margin-right: calc((100% - 1170px) / 2);
}
.head__menu-toggle-wrap{
	display: none;
	text-align: right
}
.head__menu-toggle-wrap ul,
.head__menu-toggle-wrap li{
	padding: 1px;
	margin: -1px;
	list-style-type: none;
	background-color: #fff;
}
label {  
	cursor: pointer;
	padding: 0;
	margin: 0;
}
#head__menu-toggle{
	display: none;
}
.head__menu-toggle-button{
	background-color: #1abb9c;
	color: #fff;
	font-size: 25px;
	margin: 5px;
	padding: 8px;
	text-transform: uppercase;
}
.head__menu-items{
	display: none;
	margin-left: calc(100% - 100px);
}
.head__menu-items a{
	background-color: #fff;
	text-transform: uppercase;
	padding: 2px;
	text-decoration: none;
	color: #c5c5c5;
}
#head__menu-toggle:checked + .head__menu-items{
	display: block;
}
/*Header / END*/

/*Section About / START*/
.line{
	background-color: #1abc9c;
	width: 100%;
	height: 90px;
	text-transform: uppercase;
	font-size: 25px;
	color: #fff;
	font-family: "LatoBlack",Arial,sans-serif;
	font-weight: 900;
	line-height: 90px;
}
.line:before{
	background-image: url("img/bg-arrow.png");
	background-repeat: no-repeat;
	content: "";
	height: 7px;
	left: 70px;
	position: absolute;
	top: 90px;
	width: 100%;
	z-index: 99;
}
.line_color-green{
	background-color: #1abc9c;
}
h2{
	padding: 0;
	margin: 0;
	line-height: 90px;
}
.about-picture{
	width: 100%;
	border-radius: 50%;
	border: 12px solid #1abc9c;
	margin-top: 50px;
}
.about-me{
	margin-top: 50px;
	margin-bottom: 50px;
}
.about-me__fist-paragraph{
	color: #484848;
	font-family: "LatoLight",Arial,sans-serif;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 35px;
	text-align: left;
}
.about-me h3{
	color: #484848;
	font-family: "LatoBlack",Arial,sans-serif;
	font-size: 16px;
	line-height: 25px;
	padding-top: 20px;
	text-align: left;
	text-transform: uppercase;
}
.about-me__paragraph{
	font-family: "LatoRegular",Arial,sans-serif;
	color: #656565;
	font-size: 15px;
	font-weight: 400;
	line-height: 33px;
	text-align: left;
}
.about-me__last-paragraph{
	text-transform: uppercase;
}
/*Section About / END*/

/*Section Portfolio / START*/
.section-portfolio{
	background-color: #333;
	padding-bottom: 70px;
}
.portfolio__controls ul,
.portfolio__controls li{
	padding: 0;
	margin: 0;
}
.portfolio__controls{
	text-align: center;
}
.portfolio__controls li{
	color: #d2d2d2;
	display: inline-block;
	font-family: "LatoRegular",Arial,sans-serif;
	font-size: 16px;
	font-weight: 900;
	margin: 35px 7px;
	text-transform: uppercase;
	cursor: pointer;
}
.portfolio__controls li.active{
	border-bottom: 2px solid #1abc9c;
}
#portfolio-item{
	color: #d2d2d2;
	font-family: "LatoRegular",Arial,sans-serif;
	font-size: 16px;
	font-weight: 900;
}
#portfolio-item .mix{
	display: none;
}
#portfolio-item img{
	width: 100%;
}
.portfolio-item__text{
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
	left: 0;
	opacity: 0;
	padding-top: 5%;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.5s ease 0s;
	width: 100%;
	color: #d2d2d2;
	font-family: "LatoRegular",Arial,sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.portfolio-item__text:hover{
	opacity: 1;
}
.portfolio-item__text h5{
	color: #d2d2d2;
	font-size: 10px;
	letter-spacing: 2px;
}

.portfolio-item__text p{
	color: #d5d5d5;
	font-family: "LatoLight",Arial,sans-serif;
	font-size: 16px;
}
.portfolio-item__text a {
    border: 1px solid #1abc9c;
    color: #1abc9c;
    font-family: "LatoLight",Arial,sans-serif;
    font-size: 10px;
    padding: 10px 20px;
    text-decoration: none;
}
.mix{
	padding: 0;
}
/*Section Portfolio / END*/

/*Section Contacts / START*/
.section-contacts{
	/*height: 620px;*/
}
.section-contacts{
	background-image: url(img/bg_contacts.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%; 
} 
.contacts-bg:before {
	content: "";
	height: 100%;
	/*left: 0;*/
	position: absolute;
	/*top: 0;*/
	width: 100%;
	background-color:  rgba(0, 0, 0, 0.5);
}  
#contacts__form{
	margin: 70px 0;
}
.form__name,
.form__email,
.form__subject,
.form__text{
	display: block;
	width: 100%;
	margin: 20px 0;
	background-color:  rgba(255, 255, 255, 0.2);
	border: none;
	font-family: "LatoRegular",Arial,sans-serif;
	color: #a1a1a1;
	font-size: 12px;
	font-weight: 900;
	line-height: 40px;
	text-align: left;
	text-transform: uppercase;
	padding-left: 16px;
}
button{
	border-radius: 3px;
	background-color: #3f8dbf;
	width: 140px;
	height: 45px;
	border: none;
	border-bottom: 4px solid #3678a3;
	font-family: "LatoRegular",Arial,sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
}
.contacts__mail-skype p>i{
	padding-right: 15px;
}
.contacts__mail-skype{
	margin: 70px 0;
	font-family: "LatoRegular",Arial,sans-serif;
	color: #bdbdbd;
	font-size: 20px;
	font-weight: 400;
	line-height: 33px;
	text-align: left;
}
.contacts__mail-skype a{
	color: #bdbdbd;
	text-decoration: none;
}
/*Section Contacts / END*/

/*Section Footer / START*/
footer{
	background-color: #fff;
	position: relative;
}
.footer__copyrite{
	font-family: "LatoRegular",Arial,sans-serif;
	color: #b5b5b5;
	font-size: 15px;
	font-weight: bold;
	line-height: 33px;
	text-align: center;
	margin-bottom: 25px;
}
.footer__social{
	text-align: center;
	margin: 25px 0;
}
.footer__social-item{
	display: inline-block;
}
.footer__social-item a{
	text-decoration: none;
	padding: 7px;
	color: #b5b5b5;
	font-size: 20px;
}
/*Section Footer / END*/