/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.fixed {
		position:fixed;
		top:0;
		left:0;
		width: 970px;
		margin-left: calc((100% - 970px) / 2);
		margin-right: calc((100% - 970px) / 2);
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.fixed {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.head__fio{
		margin: 80px auto 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.head__fio{
		margin: 80px auto 0;
		font-size: 38px;
		width: 80%;
		/*width: 570px;*/
	}
	.head__developer {
		font-size: 25px;
		/*width: 510px;*/
		width: 75%;
	}
	.head-logo-menu{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
	}
	.head__menu-li{
		margin: 14px 0;
	}
	.head__menu-li a{
		padding: 14px 8px;
	}
	.head__logo{
		font-size: 25px;
		line-height: 50px;
	}
	.head-logo-menu-wrapper_white-background {
		height: 50px;
	}
	.about-picture{
		width: 33%;
		margin-left: 33%;
		margin-right: 33%;
	}
	
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}


@media only screen and (max-width : 600px) {
	.head__fio {
		margin: 40px auto auto;
		
	}
	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.head__fio{
		margin: 30px auto 0;
		width: 450px;
		font-size: 30px;
	}
	.head__developer{
		font-size: 20px;
		font-weight: 600;
		margin: 20px auto 0;
		padding: 5px;
		width: 440px;
	}
	.social-wrapper__social-item {
		height: 40px;
		margin: 20px 0;
		width: 40px;
	}
	.social-wrapper__social-item i {
		font-size: 18px;
		padding-top: 10px;
	}
	.head__menu-toggle-wrap{
		display: block;
	}
	.head__menu{
		display: none;
	}
	.portfolio-item_width{
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.portfolio__controls li{
		font-size: 12px;
	}
	.about-picture{
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.head__logo{
		font-size: 15px;
		line-height: 50px;
	}

	.head__fio{
		width: auto;
	}
	.head__developer{
		width: auto;
	}
	.about-picture{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}


}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}