.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip-path: inset(100%);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

body {
  position: relative;
  margin: 0;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Arial", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  line-height: 30px;
}

.gl-description-right {
  padding: $gatter-top-mobile $gatter-out-mobile $gatter-bottom-mobile $gatter-in-mobile;
  max-width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding-right: $gatter-out-tablet;
    padding-left: $gatter-in-tablet;
    width: $width-second-block-tablet;
  }

  @media (min-width: $desktop) {
    padding-top: $gatter-top-desktop;
    padding-right: $gatter-out-desktop;
    padding-left: $gatter-in-desktop;
    width: $width-second-block-desktop;
  }
}

.gl-description-left {
  padding: $gatter-top-mobile $gatter-out-mobile $gatter-bottom-mobile $gatter-in-mobile;
  max-width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding-right: $gatter-in-tablet;
    padding-left: $gatter-out-tablet;
    width: $width-second-block-tablet;
  }

  @media (min-width: $desktop) {
    padding-top: $gatter-top-desktop;
    padding-right: $gatter-in-desktop;
    padding-left: $gatter-out-desktop;
    width: $width-second-block-desktop;
  }
}

.gl-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: $text-color;

  @media (min-width: $desktop) {
    margin-bottom: 60px;
    font-size: 60px;
  }
}

.gl-title-text {
  @media (min-width: $tablet) {
    text-align: justify;
  }
}
