@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/RobotoRegular/RobotoRegular.eot');
    src: url('fonts/RobotoRegular/RobotoRegular.eot') format('embedded-opentype'),
         url('fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'),
         url('fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
         url('fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'),
         url('fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
}
/* font-family: "SixCaps"; */
@font-face {
    font-family: 'SixCaps';
    src: url('fonts/SixCaps/SixCaps.eot');
    src: url('fonts/SixCaps/SixCaps.eot') format('embedded-opentype'),
         url('fonts/SixCaps/SixCaps.woff2') format('woff2'),
         url('fonts/SixCaps/SixCaps.woff') format('woff'),
         url('fonts/SixCaps/SixCaps.ttf') format('truetype'),
         url('fonts/SixCaps/SixCaps.svg#SixCaps') format('svg');
}
/* font-family: "Barkentina"; */
@font-face {
    font-family: 'Barkentina';
    src: url('fonts/Barkentina/Barkentina.eot');
    src: url('fonts/Barkentina/Barkentina.eot') format('embedded-opentype'),
         url('fonts/Barkentina/Barkentina.woff2') format('woff2'),
         url('fonts/Barkentina/Barkentina.woff') format('woff'),
         url('fonts/Barkentina/Barkentina.ttf') format('truetype'),
         url('fonts/Barkentina/Barkentina.svg#Barkentina') format('svg');
}
/* font-family: "Condens"; */
@font-face {
    font-family: 'Condens';
    src: url('fonts/Condens/Condens.eot');
    src: url('fonts/Condens/Condens.eot') format('embedded-opentype'),
         url('fonts/Condens/Condens.woff2') format('woff2'),
         url('fonts/Condens/Condens.woff') format('woff'),
         url('fonts/Condens/Condens.ttf') format('truetype'),
         url('fonts/Condens/Condens.svg#Condens') format('svg');
}
/* font-family: "aHuxleycaps"; */
@font-face {
    font-family: 'aHuxleycaps';
    src: url('fonts/aHuxleycaps/aHuxleycaps.eot');
    src: url('fonts/aHuxleycaps/aHuxleycaps.eot') format('embedded-opentype'),
         url('fonts/aHuxleycaps/aHuxleycaps.woff2') format('woff2'),
         url('fonts/aHuxleycaps/aHuxleycaps.woff') format('woff'),
         url('fonts/aHuxleycaps/aHuxleycaps.ttf') format('truetype'),
         url('fonts/aHuxleycaps/aHuxleycaps.svg#aHuxleycaps') format('svg');
}
/* font-family: "aHuxleycapsBold"; */
@font-face {
    font-family: 'aHuxleycapsBold';
    src: url('fonts/aHuxleycapsBold/aHuxleycapsBold.eot');
    src: url('fonts/aHuxleycapsBold/aHuxleycapsBold.eot') format('embedded-opentype'),
         url('fonts/aHuxleycapsBold/aHuxleycapsBold.woff2') format('woff2'),
         url('fonts/aHuxleycapsBold/aHuxleycapsBold.woff') format('woff'),
         url('fonts/aHuxleycapsBold/aHuxleycapsBold.ttf') format('truetype'),
         url('fonts/aHuxleycapsBold/aHuxleycapsBold.svg#aHuxleycapsBold') format('svg');
}
